<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>YOUR IP ADDRESS</string>
	<key>port</key>
	<integer>1883</integer>
	<key>username</key>
	<string>YOUR USER NAME</string>
	<key>password</key>
	<string>YOUR PASSWORD</string>
</dict>
</plist>

<!--輸入IP Address、port(預設1883)、username、password-->
<!--再更改檔案名稱為 MQTTCredentials.plist-->
